parameters:
  level: 2
  paths: [
    web/modules/custom,
    web/themes/custom
  ]
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    — "#^Unsafe usage of new static#"
