@use "variables";

body {
  #block {
    &-triple-g {
      &-main-menu {
        position: absolute;
        right: 0;

        @media screen and (min-width: 992px) {
          position: relative;
        }

        .navbar {
          &.navbar-expand-lg {
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;
            background-color: transparent;
            border: none;

            .container-fluid {
              display: block;
              width: 100%;
              padding: 0;
              margin: 0;
              position: relative;

              button.navbar-toggler {
                position: absolute;
                top: 0.5rem;
                right: 1rem;
                margin-top: 0; // overridden by positioning
                z-index: 1060; // above the collapsing menu
              }
            }
          }

          &-collapse {
            background-color: variables.$title-color;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 2.75rem;

            @media screen and (min-width: 992px) {
              background-color: unset;
              padding-top: 0;
              padding-left: 0;
            }
          }
        }

        ul {
          &.navbar-nav {
            display: flex;
            flex-direction: column;
            color: variables.$button-text;
            font-family: variables.$slogan-font;
            font-size: variables.$body-font-size;
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
          }

          li {
            font-family: variables.$slogan-font, variables.$default-fonts;
            line-height: 1rem;
            color: variables.$button-text;
            position: relative;
            display: block;
            width: 100%;
            margin: 0;
            padding: 0.5rem 1.25rem 0.5rem 0;

            ul {
              &.dropdown-menu {
                background-color: variables.$dropdown-background-color;
                font-size: variables.$body-font-size;
                padding: 0;
                margin: 0;
                width: 100%;
                position: absolute;
                border: none;
                border-radius: 0;
                z-index: 1000;
              }
            }

            &.show,
            &.nav-item.dropdown.show {
              > ul.dropdown-menu {
                display: block;
              }
            }

            .dropdown-toggle {
              position: relative;

              &:after {
                display: inline-block;
                margin-left: 0.5em;
                vertical-align: 0.2em;
                content: "";
                border-top: 0.3em solid;
                border-right: 0.3em solid transparent;
                border-bottom: 0;
                border-left: 0.3em solid transparent;
              }
            }

            ul {
              li {
                font-family: variables.$body-font;
                font-size: variables.$body-font-size;
                padding-right: 0;
              }
            }
          }
        }

        li {
            &.nav-item {
              &.dropdown {
                ul {
                  &.dropdown-menu {
                    li {
                      &.nav-item {
                        a {
                          &.dropdown-item {
                            color: variables.$font-color;
                            font-size: variables.$body-font-size;
                            display: block;
                            width: 100%;
                            padding: 0.5rem 1rem;
                            text-decoration: none;
                            background-color: transparent;
                            border: none;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

        .nav-item {
          display: block;
          width: 100%;
          margin: 0;
          padding: 0;

          a {
            color: variables.$button-text;
            font-size: 1.25rem;
            display: block;
            width: 100%;
            padding: 0.5rem 0;
            text-decoration: none;

            @media screen and (min-width: 1600px) {
              font-size: 1.5rem;
            }
          }
        }
      }

      &-site {
        &-branding {
          > div {
            align-items: center;
            display: flex;
            flex-direction: column;
            float: left;
            gap: 5rem;
            height: fit-content;
            width: max-content;
          }

          .site-logo {
            width: 6rem;
            min-width: auto;
            height: auto;
            margin-left: 0;
            padding-top: .5rem;
            filter: drop-shadow(-1px 1px 8px #000000);

            @media screen and (min-width: 992px) {
              width: 8rem;
              margin-left: 1rem;
            }

            @media screen and (min-width: 1400px) {
              width: auto;
              max-height: 10rem;
              max-width: 10rem;
              margin-left: 0;
            }
          }

          .site-slogan {
            color: variables.$button-text;
            font-family: variables.$slogan-font, variables.$default-fonts;
            display: none;
            margin-left: .9rem;
            margin-top: -4rem;

            @media screen and (min-width: 1200px) {
              display: inline;
              font-size: 1.1rem;
            }

            @media screen and (min-width: 1600px) {
              font-size: 1.5rem;
            }
          }



        }

      }

      &-search-form {
        &-narrow {
          margin-left: 15rem;
          margin-right: 2rem;
        }
      }

      &-poweredbydrupal {
        span {
          &.powered-by {
            width: 100%;
            display: inline-flex;
            justify-content: center;
            gap: .4rem;

            img {
              &.drupal-logo {
                height: 1.3rem;
              }
            }
          }
        }
      }

      &-copyright {
        text-align: center;
      }
      &-page {
        &-title {
          .page-title {
            span {
              &.field--name-title {
                text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
              }
            }
          }
        }
      }

      &-breadcrumbs {
        margin-top: .25rem;
      }

      &-socialmedialinks {
        .horizontal {
          display: flex;
          padding-left: .5rem;
          padding-right: .5rem;

          @media screen and (min-width: 1200px) {
            padding-left: 1rem;
          }
        }

        ul {
          li {
            padding: .2rem .2rem;

            a {
              color: variables.$button-text;
            }

            @media screen and (min-width: 1200px) {
              padding: .2rem .35rem;
            }
          }
        }
      }

      &-content {
        max-height: 75vh;
      }
    }
  }
}
