@font-face {
  font-family: 'Federo';
  src: url('../fonts/Federo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FontdinerSwanky';
  src: url('../fonts/FontdinerSwanky-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Limelight';
  src: url('../fonts/Limelight-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Charm';
  src: url('../fonts/Charm-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Charm-Bold';
  src: url('../fonts/Charm-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Marker';
  src: url('../fonts/PermanentMarker-Regular.ttf') format('truetype');
}
