@use "variables";

.navbar {
  &.navbar-expand-lg {
    background-color: transparent;
    border: none;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;

    .container-fluid {
      display: block;
      margin: 0;
      padding: 0;
      position: relative;
      width: 100%;

      .navbar-toggler {
        margin-top: 0; // overridden by positioning
        position: absolute;
        right: 1rem;
        top: 0.5rem;
        z-index: 1060; // above the collapsing menu
      }
    }
  }

  &-collapse {
    background-color: variables.$title-color;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2.75rem;

    @media screen and (min-width: 992px) {
      background-color: unset;
      padding-left: 0;
      padding-top: 0;
    }

    @supports selector(:has(*)) {
      .navbar-nav:has(li:hover) li:not(:hover) {
        filter: blur(2px)
      }

      .navbar-nav:has(li.dropdown:hover) li:not(:hover) {
        filter: none;
      }

      .navbar-nav:has(.dropdown-menu:hover) .dropdown-menu:has(li:hover) li:not(:hover) {
        filter: blur(1px);
      }
    }

    & ul {
      li {
        &.nav-item{
          //padding: 0.5rem 1.25rem 0.5rem 0;
          color: variables.$button-text;
          display: block;
          font-family: variables.$slogan-font, variables.$default-fonts;
          line-height: 1rem;
          margin: 0;
          padding: 0;
          position: relative;
          width: 100%;

          & a {
            color: variables.$button-text;
            display: block;
            font-size: 1.25rem;
            padding: 0.5rem 0;
            text-decoration: none;
            transition: tranform 0.3s ease-in-out;
            width: 100%;

            @media screen and (min-width: 1600px) {
              font-size: 1.5rem;
            }
          }

          .dropdown-toggle {
            position: relative;

            &:after {
              border-bottom: 0;
              border-left: 0.3em solid transparent;
              border-right: 0.3em solid transparent;
              border-top: 0.3em solid;
              content: "";
              display: inline-block;
              margin-left: 0.5em;
              vertical-align: 0.2em;
            }
          }

          &.show,
          &.nav-item.dropdown.show {
            > ul.dropdown-menu {
              display: block;
            }
          }

          ul {
            &.dropdown-menu {
              background-color: variables.$dropdown-background-color;
              border-radius: 0;
              border: none;
              font-size: variables.$body-font-size;
              margin: 0;
              padding: 0;
              position: absolute;
              width: 100%;
              z-index: 1000;

              li {
                font-family: variables.$body-font;
                font-size: variables.$body-font-size;
                padding-right: 0;

                &.nav-item {
                  a {
                    &.dropdown-item {
                      background-color: transparent;
                      border: none;
                      color: variables.$font-color;
                      display: block;
                      font-size: variables.$body-font-size;
                      padding: 0.5rem 1.4rem;
                      text-decoration: none;
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.navbar-nav {
        color: variables.$button-text;
        display: flex;
        flex-direction: column;
        font-family: variables.$slogan-font;
        font-size: variables.$body-font-size;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
      }
    }
  }
}



