body .region {
  &-sidebar {
    &-first {
      display: flex;
      flex-direction: row;

      @media screen and (min-width: var(--bs-breakpoint-lg)) {
        flex-direction: column;
        height: 80vh;
        position: relative;
        padding-left: .4rem;
      }

      @media screen and (min-width: var(--bs-breakpoint-lg)) and (max-width: var(--bs-breakpoint-lg)) {
        padding-left: 0;
      }

      @media screen and (min-width: var(--bs-breakpoint-xl)) {
        margin-left: -1.1rem;
      }

      @media screen and (min-width: var(--bs-breakpoint-xxl)) {
        margin-left: 0;
      }

      .block {
        background: transparent;
        box-shadow: none;
      }
    }

    &-secondary {
      &-menu {
        @media screen and (min-width: var(--bs-breakpoint-lg)) {
          position: absolute;
          bottom: 0;
        }
      }
    }
  }

  &-content {
    height: 74vh;

    @media screen and (min-width: var(--bs-breakpoint-lg)) {
      height: 84vh;
    }
  }
  &-secondary{
    &-menu {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
