@use "variables";


#block-triple-g-socialmedialinks {
  ul.social-media-links--platforms {
    & li {
      & a {
        background-color: variables.$color-black;
        border-radius: 50%;
        color: variables.$color-creamy-white;
        z-index: 1;
        padding: 0.2rem;

        & span {
          transition: 1.5s;
          z-index: 3;
        }

        &:hover {
          background-color: variables.$color-creamy-white;
          color: variables.$color-black;

          & span {
            transform: rotateY(360deg);
          }
        }
      }
    }
  }
}
