@use "variables";

html {
  body {
    .form-select {
      height: 2.7rem;
    }

    input::placeholder {
      color: variables.$color-gray;
    }

    .tg {
      &-left {
        float: left;
      }

      &__grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      }
    }

    .webform-submission-form {
      input,
      textarea {
        color: variables.$color-black;
        font-size: 1rem;
        padding: 0.5rem 0 0.5rem 0.3rem;
      }
    }

    .iti {
    //  & input,






      &__flag {
        box-shadow: unset;
        background-color: transparent;
        margin-left: .1rem;
      }

      &__selected-flag {
        padding: 0;
        flex-direction: row-reverse;
      }
    }
  }
}
