@use "variables";

.tg {
  &-left {
    float: left;
  }

  &__grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}

.webform-submission-form {
  input,
  textarea {
    color: variables.$color-black;
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0.3rem;
  }

  fieldset {
    border: none;
    padding: 0;
  }

  .iti {
    &__flag {
      box-shadow: unset;
      background-color: transparent;
      margin-left: .1rem;
    }

    &__country-list,
    &__country,
    &__dial-code {
      color: variables.$color-black;
    }

    &__selected-flag {
      padding: 0;
      flex-direction: row-reverse;
    }
  }

  .form-item-telephone-type {
    color: variables.$color-black;
  }

  .form-select {
    height: 2.49rem;
  }
}

input::placeholder {
  color: variables.$color-silver;
}
