$primary-shade: rgb(255, 78, 46);
$primary-light: tint-color($primary-shade, 37%);
$primary-dark: shade-color($primary-shade, 12%);
$accent-shade: #6141ac;
$accent-light: tint-color($accent-shade, 37%);
$accent-dark: shade-color($accent-shade, 12%);

$red: #dc3545;
$yellow: #ffc107;
$green: #28a745;
$cyan: #17a2b8;
$white: #fff;
$gray-100: #f8f9fa;
$gray-800: #343a40;

$primary:       $accent-shade;
$secondary:     $primary-shade;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$brand-primary: $accent-shade;
$light:         $gray-100;
$dark:          $gray-800;

$brand-inverse: $primary-shade;

$body-bg: $white;
$body-color: $gray-800;
$inverse-bg: $primary-shade;
$inverse-color: $white;
$link-decoration: none;
$btn-border-radius: 0;
$nav-tabs-border-radius: 0;
