{%
  set year = 'now' | date('Y')
%}

<div{{ attributes }}>
  <div>
    {% block content %}
      <i class="fa-regular fa-copyright"></i> 2025{% if year > 2025 %}-{{ year }}{% endif %} David L. Weiner. All Rights Reserved
    {% endblock %}
  </div>
  <div class="attribution">
    {% block attribution %}
      Divider by Alvaro Cabrera from <a href="https://thenounproject.com/browse/icons/term/divider/" target="_blank" title="divider Icons">Noun Project</a> (CC BY 3.0) / Icon colorized and drop shadow added.
    {% endblock %}
  </div>
</div>
